@use "sass:math";

$utilities: (
    "z-index": (
        "prefix": "z",
        "values": (
        "0": 0,
        "1": 1,
        "2":  2,
        "4":  4,
        "8":  8,
        "10":  10,
        "16":  16,
        "20":  20,
        "24":  24,
        "28":  28,
        "32":  32,
        "38":  38,
        "48":  48,  
        "56":  56,
        "64":  64,
        "72":  72,
        "80":  80,
        "96":  96,
        "104": 104,
        )
    ),
    "padding": (
        "prefix": "p",
        "values": (
        "0": 0,
        "1": $base-p,
        "2": $base-p * 2,
        "4": $base-p * 4,
        "8": $base-p * 8,
        "10": $base-p* 10,
        "16": $base-p* 16,
        "20": $base-p* 20,
        "24": $base-p* 24,
        "28": $base-p* 28,
        "32": $base-p* 32,
        "38": $base-p* 38,
        "48": $base-p* 48,  
        "56": $base-p* 56,
        "64": $base-p* 64,
        "72": $base-p* 72,
        "80": $base-p* 80,
        "96": $base-p* 96,
        "104": $base-p * 104,
        )
    ),
    "padding-left": (
    "prefix": "pl",
    "values": (
        "0": 0,
        "1": $base-p,
        "2": $base-p * 2,
        "4": $base-p * 4,
        "8": $base-p * 8,
        "10": $base-p* 10,
        "16": $base-p* 16,
        "20": $base-p* 20,
        "24": $base-p* 24,
        "28": $base-p* 28,
        "32": $base-p* 32,
        "38": $base-p* 38,
        "48": $base-p* 48,  
        "56": $base-p* 56,
        "64": $base-p* 64,
        "72": $base-p* 72,
        "80": $base-p* 80,
        "96": $base-p* 96,
        "104": $base-p * 104,
    ),
    ),
    "padding-right": (
        "prefix": "pr",
        "values": (
        "0": 0,
        "1": $base-p,
        "2": $base-p * 2,
        "4": $base-p * 4,
        "8": $base-p * 8,
        "10": $base-p* 10,
        "16": $base-p* 16,
        "20": $base-p* 20,
        "24": $base-p* 24,
        "28": $base-p* 28,
        "32": $base-p* 32,
        "38": $base-p* 38,
        "48": $base-p* 48, 
        "56": $base-p* 56,
        "64": $base-p* 64,
        "72": $base-p* 72,
        "80": $base-p* 80,
        "96": $base-p* 96,
        "104": $base-p * 104,
        ),
    ),
    "padding-top": (
        "prefix": "pt",
        "values": (
        "0": 0,
        "1": $base-p,
        "1-25": $base-p*1.25,
        "2": $base-p * 2,
        "4": $base-p * 4,
        "8": $base-p * 8,
        "10": $base-p* 10,
        "16": $base-p* 16,
        "20": $base-p* 20,
        "24": $base-p* 24,
        "28": $base-p* 28,
        "32": $base-p* 32,
        "38": $base-p* 38,
        "48": $base-p* 48,  
        "56": $base-p* 56,
        "64": $base-p* 64,
        "72": $base-p* 72,
        "80": $base-p* 80,
        "96": $base-p* 96,
        "104": $base-p * 104,
        ),
    ),
    "padding-bottom": (
        "prefix": "pb",
        "values": (
        "0": 0,
        "1": $base-p,
        "2": $base-p * 2,
        "4": $base-p * 4,
        "8": $base-p * 8,
        "10": $base-p* 10,
        "16": $base-p* 16,
        "20": $base-p* 20,
        "24": $base-p* 24,
        "28": $base-p* 28,
        "32": $base-p* 32,
        "38": $base-p* 38,
        "48": $base-p* 48,  
        "56": $base-p* 56,
        "64": $base-p* 64,
        "72": $base-p* 72,
        "80": $base-p* 80,
        "96": $base-p* 96,
        "104": $base-p * 104,
        ),
    ),
    "margin": (
        "prefix": "m",
        "values": (
        "0": 0,
        "0-25": $base-m * 0.25 ,
        "0-5": $base-m *0.5,
        "1": $base-m,
        "2": $base-m * 2,
        "4": $base-m * 4,
        "8": $base-m * 8,
        "10": $base-m * 10,
        "16": $base-m * 16,
        "20": $base-m * 20,
        "24": $base-m * 24,
        "28": $base-m * 28,
        "32": $base-m * 32,
        "38": $base-m * 38,
        "48": $base-m * 48,  
        "56": $base-m * 56,
        "64": $base-m * 64,
        "72": $base-m * 72,
        "80": $base-m * 80,
        "96": $base-m * 96,
        "104": $base-m * 104,
        "auto": auto auto ,
        ),
    ),
    "margin-left": (
        "prefix": "ml",
        "values": (
        "0": 0,
                "0-05": $base-m * 0.05 ,

        "0-25": $base-m * 0.25 ,
        "0-5": $base-m *0.5,        
        "1": $base-m,
        "2": $base-m * 2,
        "2-25": $base-m * 2.3,
        "4": $base-m * 4,
        "8": $base-m * 8,
        "10": $base-m * 10,
        "16": $base-m * 16,
        "20": $base-m * 20,
        "24": $base-m * 24,
        "28": $base-m * 28,
        "32": $base-m * 32,
        "38": $base-m * 38,
        "48": $base-m * 48,  
        "56": $base-m * 56,
        "64": $base-m * 64,
        "72": $base-m * 72,
        "80": $base-m * 80,
        "96": $base-m * 96,
        "104": $base-m * 104,
        "auto": auto,
        ),
    ),
    "margin-top": (
        "prefix": "mt",
        "values": (
        "0": 0,
        "0-12": $base-m * 0.13 ,
        "0-25": $base-m * 0.25 ,
        "0-5": $base-m *0.5,        
        "1": $base-m,
        "1-25": $base-m * 1.25 ,
        "1-5": $base-m * 1.5 ,
        "2": $base-m * 2,
        "3": $base-m * 2.8,
        "4": $base-m * 4,
        "5": $base-m * 5.2,
        "6": $base-m * 6.2,
        "8": $base-m * 8,
        "10": $base-m * 10,
        "12": $base-m * 12,
        "16": $base-m * 16,
        "18": $base-m * 18,
        "19": $base-m * 19,
        "20": $base-m * 20,
        "23": $base-m * 23,
        "24": $base-m * 24,
        "28": $base-m * 28,
        "32": $base-m * 32,
        "38": $base-m * 38,
        "48": $base-m * 48,  
        "56": $base-m * 56,
        "64": $base-m * 64,
        "72": $base-m * 72,
        "80": $base-m * 80,
        "96": $base-m * 96,
        "104": $base-m * 104,
        "auto": auto,

        ),
    ),
    "margin-bottom": (
        "prefix": "mb",
        "values": (
        "0": 0,
        "0-25": $base-m * 0.25 ,
        "0-5": $base-m *0.5,
        "1": $base-m,
        "1-25": $base-m * 1.25 ,
        "2": $base-m * 2,
        "4": $base-m * 4,
        "8": $base-m * 8,
        "10": $base-m * 10,
        "16": $base-m * 16,
        "20": $base-m * 20,
        "24": $base-m * 24,
        "28": $base-m * 28,
        "32": $base-m * 32,
        "38": $base-m * 38,
        "48": $base-m * 48, 
        "56": $base-m * 56,
        "64": $base-m * 64,
        "72": $base-m * 72,
        "80": $base-m * 80,
        "85": $base-m * 85,
        "96": $base-m * 96,
        "104": $base-m * 104,
                "auto": auto,

        ),
    ),
    "margin-right": (
        "prefix": "mr",
        "values": (
        "0": 0,
        "0-25": $base-m * 0.25 ,
        "0-5": $base-m *0.5,
        "1": $base-m,
        "1-25": $base-m * 1.25 ,
        "2-5": $base-m * 2.5,
        "3": $base-m * 3,
        "2": $base-m * 2,
        "4": $base-m * 4,
        "8": $base-m * 8,
        "10": $base-m * 10,
        "16": $base-m * 16,
        "20": $base-m * 20,
        "24": $base-m * 24,
        "28": $base-m * 28,
        "32": $base-m * 32,
        "38": $base-m * 38,
        "48": $base-m * 48,  
        "56": $base-m * 56,
        "64": $base-m * 64,
        "72": $base-m * 72,
        "80": $base-m * 80,
        "96": $base-m * 96,
        "104": $base-m * 104,
        "auto": auto,
        ),
    ),

    "opacity": (
        "prefix": "o",
        "values": (
        "10": 0.1,
        "20": 0.2,
        "30": 0.3,
        "40": 0.4,
        "50": 0.5,
        "60": 0.6,
        "70": 0.7,
        "80": 0.8,
        "90": 0.9,
        "100": 1,
        ),
    ),
    "border-radius": (
        "prefix": "br",
        "values": (
        "default": $base-border-radios,
        "none": 0,
        "xs": math.div($base-border-radios, 4),
        "sm": math.div($base-border-radios, 2),
        "lg": $base-border-radios * 2,
        "full": 50%,
        )
    ),
    "display": (
        "prefix": "",
        "values": (
        "none": none,
        "block": block,
        "flex": flex,
        "inline": inline,
        "inline-block": inline-block
        )
    ),
    "font-size": (
        "prefix": "font",
        "values": (
        "2x-sm":$font-size-sm*0.5,
        "x-sm":$font-size-sm*0.75,
        "l-sm": $font-size-sm * 0.90,
        "sm": $font-size-sm,
        "2sm": $font-size-sm*1.15,
        "md": $base-font-size,
        "lg": $font-size-lg,
        "xl": $font-size-xl,
        "2xl": $font-size-2xl,
        "3xl": $font-size-3xl,
        "4xl": $font-size-4xl,
        )
    ) , 
    "min-width":(
        "prefix": "min-w",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "32": 32px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "64": 64px    ,
        "72": 72px    ,
        "80": 80px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "224": 224px  ,     
        "240": 240px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "384": 384px  , 
        "400": 400px  ,
        "500": 500px  ,
        "576": 576px  ,
        "600": 600px  ,
        "700": 700px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "900": 900px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1152": 1152px,
        "1200": 1200px
        )
    ),
    "min-height":(
        "prefix": "min-h",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "32": 32px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "64": 64px    ,
        "72": 72px    ,
        "80": 80px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "224": 224px  ,     
        "240": 240px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "324": 324px  ,
        "384": 384px  , 
        "400": 400px  ,
        "500": 500px  ,
        "576": 576px  ,
        "600": 600px  ,
        "700": 700px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "900": 900px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1152": 1152px,
        "1200": 1200px,
        "full":full
        )
    ),
    "width":(
        "prefix": "w",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "30": 30px    ,
        "32": 32px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "70-5": 70.5px,
        "72": 72px    ,
        "80": 80px    ,
        "85": 85px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "207": 207px  ,
        "210": 210px  ,
        "216": 216px  ,
        "220": 220px  ,
        "224": 224px  ,     
        "235": 230px  ,     
        "242": 242px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "384": 384px  , 
        "400": 400px  ,
        "500": 500px  ,
        "576": 576px  ,
        "600": 600px  ,
        "700": 700px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "900": 900px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1100": 1100px,
        "1152": 1152px,
        "1248": 1248px,
        "full":full
        )
    ),
    "height":(
        "prefix": "h",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "30": 30px    ,
        "32": 32px    ,
        "35": 35px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "64": 64px    ,
        "72": 72px    ,
        "80": 80px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "150": 150px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "208": 208px  ,
        "224": 224px  ,     
        "240": 240px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "324": 324px  ,
        "379": 379px  , 
        "400": 400px  ,
        "500": 500px  ,
        "510": 510px  ,
        "600": 600px  ,
        "700": 700px  ,
        "705": 705px  ,
        "728": 728px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "943": 943px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1152": 1152px,
        "1200": 1200px,
        "full":full
        )
    ),
    "box-shadow":(
        "prefix": "shadow",
        "values": (
        "sm":  0 1px 2px 0 rgb(0 0 0 / 0.05),
        "md":  0 10px 15px -3px rgb(0 0 0 / 0.1),
        "lg": 0 20px 25px -5px rgb(0 0 0 / 0.1),
        "xl":  0 25px 50px -12px rgba(104, 75, 75, 0.25),
        "2xl": inset 0 2px 4px 0 rgb(0 0 0 / 0.05)
        )
    ),

    "top":(
        "prefix": "top",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "32": 32px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "64": 64px    ,
        "72": 72px    ,
        "80": 80px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "224": 224px  ,     
        "240": 240px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "384": 384px  , 
        "400": 400px  ,
        "500": 500px  ,
        "576": 576px  ,
        "600": 600px  ,
        "700": 700px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "900": 900px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1152": 1152px,
        "1200": 1200px,
        "neg-0":-0px  ,
        "neg-1":-1px  ,
        "neg-2":-2px  ,
        "neg-3":-3px  ,
        "neg-4":-4px  ,
        "neg-5":-5px  ,
        "neg-6":-6px  ,
        "neg-8":-8px  ,
        "neg-10": -10px    ,
        "neg-12": -12px    ,
        "neg-14": -14px    ,
        "neg-16": -16px    ,
        "neg-20": -20px    ,
        "neg-24": -24px    ,
        "neg-28": -28px    ,
        "neg-32": -32px    ,
        "neg-36": -36px    ,
        "neg-38": -38px    ,
        "neg-40": -40px    ,
        "neg-44": -44px    ,
        "neg-48": -48px    ,
        "neg-52": -52px    ,
        "neg-56": -56px    ,
        "neg-60": -60px    ,
        "neg-64": -64px    ,
        "neg-72": -72px    ,
        "neg-80": -80px    ,
        "neg-88": -88px    ,
        "neg-96": -96px    ,
        "neg-104":-104px  ,
        "neg-112":-112px  ,
        "neg-120":-120px  ,
        "neg-128":-128px  ,
        "neg-136":-136px  ,
        "neg-144":-144px  ,
        "neg-160":-160px  ,
        "neg-176":-176px  ,
        "neg-192":-192px  ,
        "neg-200":-200px  ,
        "neg-224":-224px  ,     
        "neg-240":-240px  ,
        "neg-256":-256px  ,
        "neg-288":-288px  ,
        "neg-300":-300px  ,
        "neg-384":-384px  , 
        "neg-400":-400px  ,
        "neg-500":-500px  ,
        "neg-576":-576px  ,
        "neg-600":-600px  ,
        "neg-700":-700px  ,
        "neg-768":-768px  ,
        "neg-800":-800px  ,
        "neg-896":-896px  ,
        "neg-900":-900px  ,
        "neg-1000":-1000px,
        "neg-1088":-1088px,
        "neg-1152":-1152px,
        "neg-1200":-1200px
        )
    ),
    
    "bottom":(
        "prefix": "bottom",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "28": 28px    ,
        "32": 32px    ,
        "36": 36px    ,
        "38": 38px    ,
        "40": 40px    ,
        "44": 44px    ,
        "48": 48px    ,
        "52": 52px    ,
        "56": 56px    ,
        "60": 60px    ,
        "64": 64px    ,
        "72": 72px    ,
        "80": 80px    ,
        "88": 88px    ,
        "96": 96px    ,
        "104": 104px  ,
        "112": 112px  ,
        "120": 120px  ,
        "128": 128px  ,
        "136": 136px  ,
        "144": 144px  ,
        "160": 160px  ,
        "176": 176px  ,
        "192": 192px  ,
        "200": 200px  ,
        "224": 224px  ,     
        "240": 240px  ,
        "256": 256px  ,
        "288": 288px  ,
        "300": 300px  ,
        "384": 384px  , 
        "400": 400px  ,
        "500": 500px  ,
        "576": 576px  ,
        "600": 600px  ,
        "700": 700px  ,
        "768": 768px  ,
        "800": 800px  ,
        "896": 896px  ,
        "900": 900px  ,
        "1000": 1000px,
        "1088": 1088px,
        "1152": 1152px,
        "1200": 1200px,
        "neg-0":-0px  ,
        "neg-1":-1px  ,
        "neg-2":-2px  ,
        "neg-3":-3px  ,
        "neg-4":-4px  ,
        "neg-5":-5px  ,
        "neg-6":-6px  ,
        "neg-8":-8px  ,
        "neg-10": -10px    ,
        "neg-12": -12px    ,
        "neg-14": -14px    ,
        "neg-16": -16px    ,
        "neg-20": -20px    ,
        "neg-24": -24px    ,
        "neg-28": -28px    ,
        "neg-32": -32px    ,
        "neg-36": -36px    ,
        "neg-38": -38px    ,
        "neg-40": -40px    ,
        "neg-44": -44px    ,
        "neg-48": -48px    ,
        "neg-52": -52px    ,
        "neg-56": -56px    ,
        "neg-60": -60px    ,
        "neg-64": -64px    ,
        "neg-72": -72px    ,
        "neg-80": -80px    ,
        "neg-88": -88px    ,
        "neg-96": -96px    ,
        "neg-104":-104px  ,
        "neg-112":-112px  ,
        "neg-120":-120px  ,
        "neg-128":-128px  ,
        "neg-136":-136px  ,
        "neg-144":-144px  ,
        "neg-160":-160px  ,
        "neg-176":-176px  ,
        "neg-192":-192px  ,
        "neg-200":-200px  ,
        "neg-224":-224px  ,     
        "neg-240":-240px  ,
        "neg-256":-256px  ,
        "neg-288":-288px  ,
        "neg-300":-300px  ,
        "neg-384":-384px  , 
        "neg-400":-400px  ,
        "neg-500":-500px  ,
        "neg-576":-576px  ,
        "neg-600":-600px  ,
        "neg-700":-700px  ,
        "neg-768":-768px  ,
        "neg-800":-800px  ,
        "neg-896":-896px  ,
        "neg-900":-900px  ,
        "neg-1000":-1000px,
        "neg-1088":-1088px,
        "neg-1152":-1152px,
        "neg-1200":-1200px
        )
    ),
            "left":(
                "prefix": "left",
                "values": (
                "0":0px  ,
                "1":1px  ,
                "2":2px  ,
                "3":3px  ,
                "4":4px  ,
                "5":5px  ,
                "6":6px  ,
                "8":8px  ,
                "10":10px,   
                "12":12px,   
                "14":14px,   
                "16":16px,   
                "20":20px,   
                "24":24px,   
                "28":28px,   
                "32":32px,   
                "36":36px,   
                "38":38px,   
                "40":40px,   
                "44":44px,   
                "48":48px,   
                "52":52px,   
                "56":56px,   
                "60":60px,   
                "64":64px,   
                "72":72px,   
                "80":80px,   
                "88":88px,   
                "96":96px,   
                "104":104px ,
                "112": 112px,
                "120": 120px,
                "128": 128px,
                "136": 136px,
                "144": 144px,
                "160": 160px,
                "176": 176px,
                "192": 192px,
                "200": 200px,
                "224": 224px,     
                "240": 240px,
                "256": 256px,
                "288": 288px,
                "300": 300px,
                "384": 384px, 
                "400": 400px,
                "500": 500px,
                "576": 576px,
                "600": 600px,
                "700": 700px,
                "768": 768px,
                "800": 800px,
                "896": 896px,
                "900": 900px,
                "1000": 1000px,
                "1088": 1088px,
                "1152": 1152px,
                "1200": 1200px
                )
        ),
        "word-spacing":(
        "prefix": "font-space",
        "values": (
        "0": 0px  ,
        "1": 1px  ,
        "2": 2px  ,
        "3": 3px  ,
        "4": 4px  ,
        "5": 5px  ,
        "6": 6px  ,
        "8": 8px  ,
        "10": 10px    ,
        "12": 12px    ,
        "14": 14px    ,
        "16": 16px    ,
        "20": 20px    ,
        "24": 24px    ,
        "neg-0":-0px  ,
        "neg-1":-1px  ,
        "neg-2":-2px  ,
        "neg-3":-3px  ,
        "neg-4":-4px  ,
        "neg-5":-5px  ,
        "neg-6":-6px  ,
        "neg-8":-8px  ,
        "neg-10": -10px    ,
        "neg-12": -12px    ,
        "neg-14": -14px    ,
        "neg-16": -16px    ,
        "neg-20": -20px    ,
        "neg-24": -24px    ,

        )
    ),
    
);


@each $proprty, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values {
        @if ($k != "default") {
        .#{$prefix}-#{$k} {
            #{$proprty}: $v;
        }
        }
    }
}
